.Events {
  padding: 0.7em 0;
  display: flex;
  /* grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 2em; */
  overflow-x: auto;
}

.Events__container {
  grid-area: events;
  display: grid;
}

.title {
  font-size: 2em;
  font-weight: bold;
  font-family: 'MontserratBold';
  display: block;
}

.aside {
  grid-area: aside;
  width: 100%;
  position: relative;
}

.popup {
  display: grid;
  grid-gap: 10px;
  justify-content: center;
  text-align: center;
}
.popup_img {
  background-size: cover;
  height: 120px;
  width: 120px;
  margin: auto;
}
.popup_text {
  font-size: 2em;
}
.popup_link {
  font-size: 1.7em;
  font-weight: bold;
  text-decoration: none;
  font-family: 'MontserratBold';
  background: var(--main-color);
  color: #fff;
  padding: 1rem;
  width: auto;
  border-radius: 5px;
}

.btn_filter {
  color: #000;
  border: none;
  outline: none;
  background: #fff;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid rgb(234, 85, 92);
  padding: 0.5em 1em;
  font-weight: bold;
  display: flex;
  font-family: 'MontserratBold';
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease;
  text-decoration: none;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filterIcon {
  background: url('../../assets/icons/sort2.svg');
  background-size: cover;
  background-position: center;
  height: 27px;
  width: 27px;
  margin-right: 10px;
}

.events {
  padding: 5em;
}
