.Events {
  padding: 0.7em 2.5em;
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-areas: 'events aside';
  grid-gap: 2.6em;
  justify-content: space-between;
}

.Events__container {
  grid-area: events;
}

.aside {
  grid-area: aside;
  width: 100%;
  position: relative;
}
