.Button {
  padding: 1em;
  font-size: 1.6em;
  border: 0;
  outline: 0;
  border-radius: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.cancel {
  border: 1px solid #ea555c;
  color: #ea555c;
  background: 0;
}

.action {
  background: #ea555c;
  color: #fff;
}

.action:hover {
  background: #db0c16;
}
