.SearchFilter {
  display: grid;
  grid-gap: 20px;
}

.SearchFilterTitle {
  font-size: 22px;
  font-family: 'MontserratBold';
}

.SearchFilterForm {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 1rem 0;
}

.btn_filter {
  background: var(--main-color);
  color: #fff;
  border: none;
  outline: none;
  font-size: 1.6em;
  border-radius: 5px;
  padding: 0 1em;
  font-weight: bold;
  display: flex;
  font-family: 'MontserratBold';
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease;
  text-decoration: none;
}

.name {
  grid-column: span 3;
}

.filterIcon {
  background: url('../../assets/icons/sort.svg');
  background-size: cover;
  background-position: center;
  height: 27px;
  width: 27px;
  margin-right: 10px;
}
