.EventsCreated {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  width: 100%;
}

.EventsCreated__card {
  background: #f2f2f2;
  border-radius: 0.5em;
  max-width: 600px;
  height: 100px;
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 100px;
  grid-gap: 1em;
  transition: all 0.3s ease-in-out;
}

/* .EventsCreated__card:hover {
  box-shadow: 0 4px 15px 0 rgba(40, 44, 53, 0.06),
    0 5px 21px 0 rgba(40, 44, 53, 0.08);
} */

.card__img {
  width: 100px;
}

.card__img > img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

.card__details {
  position: relative;
  padding: 1em;
}
.card__details > h1 {
  font-size: 1.8em;
}

.card__details > p {
  font-weight: bold;
  font-size: 1.4em;
  color: rgb(151, 151, 151);

  font-family: 'MontserratBold';
}

.link {
  text-decoration: none;
  position: absolute;
  bottom: 10px;
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
  color: #10003b;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
}

.link > img {
  height: 20px;
  width: 20px;
  margin-right: 0.4em;
}

@media screen and (max-width: 1020px) {
  .EventsCreated {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 850px) {
  .EventsCreated {
    grid-template-columns: repeat(1, 1fr);
  }
}
