.container {
  padding: 2em;
}

.title {
  font-size: 2.6em;
  font-weight: bold;
  font-family: 'MontserratBold';
}

.subTitle {
  font-size: 2.2em;
  font-weight: bold;
  font-family: 'MontserratBold';
}

.photo {
  padding: 2em;
  width: 250px;
}

.form {
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 600px));
  grid-gap: 20px;
}
.form input,
.form select,
.form textarea {
  padding: 1.3em;
  margin: 1em 0;
}
.formEmail input {
  padding: 1.3em;
  margin: 1em 0;
}
.formEmail {
  padding: 2em;
}

.Date__container {
  display: grid;
  width: 100%;
}

.Date__container input {
  color: #000;
  font-weight: bold;
  text-align: left;
  font-size: 1.5em;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.Date__container input:focus {
  background-color: #fff;
  outline: none;
  border: 1px solid #1e0a3c;
}

.btnSubmit {
  width: 150px;
  outline: 0;
  border: 0;
  border-radius: 5px;
  font-family: 'MontserratBold';
  font-size: 1.7em;
  padding: 1em;
  background: var(--main-color);
  color: #fff;
  cursor: pointer;
}

.err__msg {
  color: red;
  font-size: 14px;
  display: block;
  margin-left: 0.5em;
  text-align: left;
}
