.UserProfile {
  padding: 25px;
}

.UserProfile_info {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hr {
  border-bottom: 1px solid #ddd;
  /* margin: 1em auto; */
  width: 90%;
}

.newFollowers {
  align-self: flex-start;
}

.UserProfile_img > img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
}

.UserProfile_description {
  font-size: 1.6em;
  align-self: center;
}

.UserProfile__name {
  font-family: 'MontserratBold';
  font-size: 24px;
  text-transform: capitalize;
}

.UserProfile__user {
  color: #000;
  font-weight: bold;
  font-size: 18px;
  font-family: sans-serif;
}

.follow {
  background: #75bdff;
  font-size: 1.7em;
  font-weight: bold;
  color: #fff;

  border: 0;
  width: fit-content;
  margin: auto;
  padding: 0.5em 1rem;
  outline: 0;
  border-radius: 5px;
  cursor: pointer;
}

.newFollowers_containers {
  height: 271px;
  overflow-y: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-gap: 10px;
}

.UserProfile__description {
  font-family: 'MontserratBold';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #aaa;
}

.button_tab {
  outline: 0;
  border: 0;
  font-size: 1.7em;
  margin-right: 1em;
  padding: 1em;
  background: none;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  color: #9c9c9c;
  transition: color 0.3s ease;
}

.details {
  display: flex;
  justify-content: center;
}
.details_events {
  margin-right: 20px;
  font-family: 'MontserratBold';
  font-size: 16px;
}

.details_events > span {
  font-size: 40px;
}

.tab_content {
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px));
  grid-gap: 10px;
}

.active_tab {
  border-bottom: 2px solid rgb(234, 85, 92);
  color: #000;
}

.button_tab:hover {
  color: #000;
}

.UserProfile__loation {
  font-weight: bold;
  font-size: 1.6em;
}

.UserProfile_details {
  display: flex;
  justify-content: flex-start;
  margin-top: 4em;
}

.newFolowers {
  justify-self: flex-end;
}
.link {
  font-size: 1.8em;
  background: #fff;
  outline: 0;
  text-decoration: none;
  border-radius: 5px;
  border: 0;
  padding: 1em;
  margin-right: 1em;
  cursor: pointer;
  font-weight: bold;
}

.events {
  font-size: 1.8em;
}

.following {
  font-size: 1.8em;
}

.followers {
  font-size: 1.8em;
}

.edit_profile {
  font-size: 1.5em;
  background: #fff;
  outline: 0;
  text-decoration: none;
  border-radius: 5px;
  border: 0;
  padding: 1em;
  width: fit-content;
  margin: auto;
  font-family: 'MontserratBold';
  color: #000;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  border: 1px solid #ddd;
}

.newFollowers_title {
  padding-bottom: 10px;
  font-size: 1.7em;
}
