.Navbar {
  grid-area: nav;
  background: hsl(0, 0%, 98%);
  z-index: 3;
}

.Navbar .nav__container {
  position: fixed;
  width: 270px;
}

.nav__logo {
  font-family: 'Pacifico', cursive;
  font-size: 2.8em;
  display: flex;
  padding: 1em;
  justify-content: center;
  align-items: center;
}
