.EventCard {
  width: 300px;
  margin-left: 1em;
  position: relative;
  display: grid;
  background: hsl(0, 0%, 98%);
  transition: all 0.4s ease-out;
  grid-template-columns: 300px;
  border-radius: 5px;
  margin-bottom: 2em;
  transition: all 0.3s ease;
}

.EventCard:hover {
  box-shadow: 0 4px 15px 0 rgba(40, 44, 53, 0.06),
    0 5px 21px 0 rgba(40, 44, 53, 0.08);
}

.EventCard__header {
  display: flex;
  background: hsl(0, 0%, 98%);
  padding: 1rem;
  border-radius: 5px 5px 0 0;
  align-items: center;
}

.EventCard__header > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 2px;
  object-fit: cover;
  border: 2px solid #ea4031;
}

.EventCard__img {
  position: relative;
  width: 100%;
}

.EventCard__img_current {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.owner {
  padding: 0 2em;
  align-self: center;
  color: #fff;
}

.owner > p {
  font-size: 1.6em;
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

.EventCard__about {
  padding: 1em;
  background: #fff;
  display: grid;
  grid-gap: 10px;
  font-weight: bold;
  font-family: 'MontserratBold';
}

.EventCard__date {
  color: #ea4031;
  font-size: 1.6em;
}

.EventCard__title {
  font-size: 2em;
}

.EventCard__location {
  font-size: 1.5em;
  color: #b4b4b4;
}
