.App {
  /* background: linear-gradient(120deg, #dddddd53, #dddddd53),
    url('../../assets/img/geometry2.png'); */
  background: #f7f7f7;
  height: 100%;
  display: flex;
  padding: 7em 2em;
  justify-content: space-between;
}

.events__container {
  width: 49%;
}
