.NewEvent {
  padding: 0 25px;
  height: 100%;
  overflow-y: auto;
}

.form {
  grid-area: form;
  color: #000;
}

.form > .InputGroup_Input {
  width: calc(100% - 100px);
  margin-left: 100px;
}

.align__to_text {
  width: calc(100% - 100px);
  margin-left: 100px;
}

.form input,
.form select {
  padding: 1.3em;
}

.event__group {
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
}

.address {
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
}

.Location,
.Date {
  margin-top: 4em;
}

.Date__container {
  text-align: center;
  display: flex;
  width: 100%;
}

.Event__start {
  margin-right: 1em;
}

.Date__container input {
  color: #000;
  font-weight: bold;
  text-align: left;
  font-size: 1.5em;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.Date__container input:focus {
  background-color: #fff;
  outline: none;
  border: 1px solid #1e0a3c;
}

.semi_title {
  /* text-align: center; */
  font-size: 1.7em;
  font-weight: bold;
  margin: 1em 0;
}

.group {
  margin-top: 7em;
  position: relative;
}

.group__btn {
  background: hsl(0, 0%, 98%);
  width: 100%;
  padding: 1em 3em;
  bottom: 0;
  left: 0;
  position: fixed;
  display: grid;
  grid-template-columns: 150px 150px;
  justify-content: flex-end;
  grid-gap: 1em;
}
