.EventRestrictions {
  padding: 5em !important;
}

.align__content {
  width: calc(100% - 200px);
  margin-left: 100px;
}

.restrictions_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-top: 3em;
}

.subTitle {
  padding: 1.5rem 1rem;
  font-size: 15px;
}

.inputsAge {
  margin-top: 20px;
  display: grid;
  grid-gap: 20px;
}

.inputsAge input {
  width: 100px !important;
}
.inputsAge select {
  width: 200px !important;
}

.restrictions_checks {
  display: flex;
  width: 100%;
}

.genresPopulate {
  display: grid;
  grid-template-columns: repeat(auto-fill, 110px);
  grid-gap: 20px;
}

.genrePop {
  background: var(--main-color);

  font-size: 14px;
  padding: 7px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: 0;
  border-radius: 90px;
}

.genrePop > span {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 90px;
  font-family: 'MontserratBold';
}
