@font-face {
  font-family: 'MontserratBold';
  src: url('./assets/fonts/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'MontserratRegular';
  src: url('./assets/fonts/Montserrat-Regular.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'MontserratRegular', sans-serif;
}

.fill {
  transition: all 0.3s ease-in-out;
}

.fill__white {
  fill: #fff;
}
