.title {
  font-size: 3em;
  font-family: 'MontserratBold', sans-serif;
  margin-bottom: 0.3em;
}

.description {
  font-size: 1.7em;
  margin-bottom: 2em;
}

.TextHeader {
  display: grid;
  grid-template-columns: 100px calc(100% - 200px);
  /* align-items: center; */
}

.icon {
  width: 100%;
  height: 60px;
  object-fit: contain;
}
